---
description: #{description}
#{allowed_tools ? "allowed-tools: #{allowed_tools}" : ""}
#{argument_hint ? "argument-hint: \"#{argument_hint}\"" : ""}
#{model ? "model: #{model}" : ""}
---

read whole file and follow @dev-handbook/workflow-instructions/#{workflow_name}.wf.md

read and run @dev-handbook/.integrations/claude/commands/_custom/commit.md