# Project Context - [PROJECT_NAME]

You are working on [PROJECT_DESCRIPTION]

## Context

<context-tool-config>
embed_document_source: true
files:
  - docs/what-do-we-build.md
  - docs/architecture.md
  - docs/blueprint.md
  - docs/tools.md

commands:
  - git-status --short --no-color
  - task-manager recent --limit 5
  - task-manager next --limit 5
</context-tool-config>
