---
description: #{description}
#{allowed_tools ? "allowed-tools: #{allowed_tools}" : ""}
#{argument_hint ? "argument-hint: \"#{argument_hint}\"" : ""}
#{model ? "model: #{model}" : ""}
---

read whole file and follow @ace-handbook/handbook/workflow-instructions/#{workflow_name}.wf.md

read and run @.claude/skills/commit.md